* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: RobotoCondensed-Bold;
  src: url(font/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: RobotoCondensed-BoldItalic;
  src: url(font/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf);
}
@font-face {
  font-family: RobotoCondensed-Italic;
  src: url(font/Roboto_Condensed/RobotoCondensed-Italic.ttf);
}
@font-face {
  font-family: RobotoCondensed-Light;
  src: url(font/Roboto_Condensed/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: RobotoCondensed-LightItalic;
  src: url(font/Roboto_Condensed/RobotoCondensed-LightItalic.ttf);
}
@font-face {
  font-family: RobotoCondensed-Regular;
  src: url(font/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
.menu-index {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

}
.menu-index ul {
  display: flex;
  align-items: center;
}
.menu-index ul li {
  list-style-type: none;
  padding: 16px 18px;
}

.menu-index ul li a {
  text-decoration: none;
  color: black;
  font-family: RobotoCondensed-Bold;
}
.menu-index li:nth-child(1) {
  margin-right: 50px;
}

.menu-index li:last-child {
  flex-grow: 1;
  text-align: right;
  padding: 0 56px;
}
.menu-index li:last-child a {
  padding: 0 10px;
  font-size: 18px;
}
.input-blog-index {
  margin-left: 20px;
  position: relative;
}
.input-blog-index input {
  width: 200%;
  height: 40px;
  outline: none;
  padding-left: 50px;
  border-radius: 20px;
  border: 1px solid gray;
}
.input-blog-index input[type="text"]:focus {
  border: 3px solid rgb(227, 240, 239);
}

.position-index {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}
/* main */

.banner-index {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.xemngay-index {
  position: absolute;
  top: 75%;
  left: 50%;
  border: 1px solid black;
  background: #ffffff;
  border-radius: 40px;
  transform: translate(-50%, -30%);
}
.xemngay-index a {
  color: rgb(2, 2, 2);
  width: 120px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-family: RobotoCondensed-Bold;
  text-decoration: none;
}
.xemngay-index a:hover {
  box-shadow: 0 0px 25px rgba(255, 255, 255, 1);
  border-radius: 40px;
  text-decoration: none;
  color: black;
  font-family: RobotoCondensed-Bold;
}
.introduce-index {
  display: flex;
  margin-top: 80px;
}
.introduce-index .con1-index {
  margin-left: 60px;
}
.introduce-index .con3-index {
  margin-right: 60px;
}
.introduce-index .con1-index img {
  border-radius: 14px;
  height: 700px;
  width: 490px;
}
.introduce-index .con2-index img {
  border-radius: 14px;
  height: 700px;

  width: 490px;
}
.introduce-index .con3-index img {
  border-radius: 14px;
  height: 700px;

  width: 490px;
}
.con1-index,
.con2-index,
.con3-index {
  margin: auto;
  position: relative;
}
.btn-index {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-index button {
  width: 100px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid rgb(3, 3, 3);
  color: rgb(0, 0, 0);
  background-color: rgba(2, 2, 2, 0);
  font-family: RobotoCondensed-Bold;
  margin-left: 10px;
}

.btn-index button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
}
.banner1-index {
  background-image: url(../img/banner4.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
}

.iframe {
  text-align: right;
  padding-top: 130px;
  padding-bottom: 130px;
  margin-right: 50px;
  background-position: center;
}

/* sản phẩm */
.product-index {
  display: flex;
  margin-top: 20px;
}
.products1-index {
  width: 25%;
}
.products2-index {
  width: 25%;
}
.products3-index {
  width: 25%;
}
.products4-index {
  width: 25%;
}
.products1-index,
.products2-index,
.products3-index,
.products4-index {
  margin: auto;
  padding: 20px;
  position: relative;
}
.product-index .products1-index {
  margin-left: 40px;
}
.product-index .products4-index {
  margin-right: 50px;
}

.products1-index .img-index,
.products2-index .img-index,
.products3-index .img-index,
.products4-index .img-index {
  background-color: rgb(201, 197, 197);
  border-radius: 5px;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.products1-index .img-index img,
.products2-index .img-index img,
.products3-index .img-index img,
.products4-index .img-index img {
  border-radius: 5px;
}
.imgposi-index {
  position: absolute;
  top: 20px;
  left: 20px;
}
.imgapso-index {
  position: absolute;
  top: 30px;
  right: 30px;
}
.products1-index p,
.products2-index p,
.products3-index p,
.products4-index p {
  display: inline-block;
  margin-top: 15px;
  font-family: RobotoCondensed-Regular;
}
.products1-index span,
.products2-index span,
.products3-index span,
.products4-index span {
  margin-top: 15px;
  margin-bottom: 25px;
  display: inline-block;
  font-family: RobotoCondensed-Bold;
  font-size: 20px;
}

.products1-index .contai-index a {
  text-decoration: none;
  color: black;
  font-family: RobotoCondensed-Bold;
  width: 100%;
  border: 1px solid black;
  padding: 10px 109px;
  border-radius: 5px;
}

.products2-index .contai-index a {
  text-decoration: none;
  color: black;
  font-family: RobotoCondensed-Bold;
  width: 100%;
  border: 1px solid black;
  padding: 10px 109px;
  border-radius: 5px;
}

.products3-index .contai-index a {
  text-decoration: none;
  color: black;
  font-family: RobotoCondensed-Bold;
  width: 100%;
  border: 1px solid black;
  padding: 10px 109px;
  border-radius: 5px;
}

.products4-index .contai-index a {
  text-decoration: none;
  color: black;
  font-family: RobotoCondensed-Bold;
  width: 100%;
  border: 1px solid black;
  padding: 10px 109px;
  border-radius: 5px;
}
/* hover product */
.products1-index .contai-index a:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}
.products2-index .contai-index a:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}
.products3-index .contai-index a:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}
.products4-index .contai-index a:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}
.text-index {
  margin: auto;
  text-align: center;
  font-family: RobotoCondensed-Bold;
  width: 150px;
  line-height: 37px;
  border: 1px solid black;
  border-radius: 10px;
  letter-spacing: 1px;
  margin-top: 50px;
}
.text-index:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}

.h1-index {
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
  font-family: RobotoCondensed-Bold;
}

.ig-index {
  text-align: center;
}

.container-index {
  display: flex;
  margin-top: 50px;
}
.nam-index,
.nu-index {
  margin: auto;
}
.nam-index {
  margin-left: 50px;
  position: relative;
}
.nu-index {
  margin-right: 50px;
  position: relative;
}
.nam-index img,
.nu-index img {
  border-radius: 10px;
  width: 830px;
  height: 100%;
}

.product2-index {
  display: flex;
  margin: auto;
}
.product2-index .sp1 {
  width: 25%;
}

.xem-index {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.xem-index a {
  border: 1px solid white;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: RobotoCondensed-Bold;
  letter-spacing: 1px;
}
.xem-index a:hover {
  background-color: white;
  color: black;
  transition: 0.5s ease;
  font-family: RobotoCondensed-Bold;
}
.last-index {
  display: flex;
  margin-top: 50px;
}
.imglast1-index,
.imglast2-index,
.imglast3-index {
  margin: auto;
}

.last-index .imglast1-index img {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}
.last-index .imglast2-index img {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.last-index .imglast3-index img {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}
.boder-index {
  margin-top: 15px;
}
.boder-index a {
  text-decoration: none;

  padding: 10px 21px;
  font-size: 16px;
  font-family: RobotoCondensed-Bold;
  color: black;
  border: 1px solid rgb(156, 153, 153);
  margin-top: 10px;
}
.boder-index a:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
  text-decoration: none;
  text-decoration: none;
}
.p-index {
  margin-top: 25px;
  width: 400px;
  font-family: RobotoCondensed-Bold;
  font-size: 20px;
}
.last-index .imglast1-index {
  margin-left: 100px;
}
.last-index .imglast3-index {
  margin-right: 100px;
}
.day-index {
  color: rgb(156, 156, 156);
  margin-top: 10px;
  font-size: 18px;
}

/* discuont */
.products1-index .discout-index {
  text-decoration: line-through;
  font-size: 17px;
  color: rgb(143, 142, 142);
  margin-left: 10px;
}
.products2-index .discout-index {
  text-decoration: line-through;
  font-size: 17px;
  color: rgb(143, 142, 142);
  margin-left: 10px;
}
.products3-index .discout-index {
  text-decoration: line-through;
  font-size: 17px;
  color: rgb(143, 142, 142);
  margin-left: 10px;
}
.products4-index .discout-index {
  text-decoration: line-through;
  font-size: 17px;
  color: rgb(143, 142, 142);
  margin-left: 10px;
}
/*  */
.quanty-index {
  margin-left: 40px;
  background-color: red;
  color: white;
  width: 60px;
  text-align: center;
  font-size: 16px;
}

.eye-index {
  margin-top: 50px;
  text-align: center;
}

.eye-index a {
  text-decoration: none;
  border: 1px solid black;
  color: black;
  padding: 5px 35px;
  font-family: RobotoCondensed-Bold;
  border-radius: 5px;
}
.eye-index a:hover {
  background-color: black;
  color: white;
}

/* footer */
footer {
  background-color: rgb(193, 186, 202);
}

.footer {
  display: flex;
  margin-top: 50px;
}
.fterlast1,
.fterlast2,
.fterlast3,
.fterlast4 {
  margin-top: 50px;
  width: 25%;
}
.fterlast1 {
  margin-left: 50px;
}
.fterlast2 {
  margin-left: 30px;
}
.fterlast4 {
  margin-right: 50px;
}
.las {
  font-family: RobotoCondensed-Bold;
  margin: 20px 0;
}

.las1 {
  /* margin-top: 25px; */
  font-size: 20px;
  font-family: RobotoCondensed-Regular;
}
.menu a {
  text-decoration: none;
  margin-left: 5px;
  color: black;
  font-family: RobotoCondensed-Regular;
  font-size: 15px;
}
.menu a:hover {
  text-decoration: underline;
  color: rgb(158, 23, 23);
  transition: 0.3s ease;
}
.menu div {
  margin-top: 15px;
}
.loco {
  font-family: RobotoCondensed-Bold;
  margin: 10px 0;
}
.lass {
  font-family: RobotoCondensed-Regular;
  font-size: 15px;
  margin-left: 5px;
}
.bdsg {
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}
.messenger {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
.messenger img {
  border-radius: 400px;
  text-align: center;
}

/* ----------------shop page----------------------------- */
.prd_list {
  width: 100%;
}

.prd-item {
  gap: 15px;
}
.prd-item a {
  color: #000;
  text-decoration: none;
}
.prd-img {
  background: var(--prd-bg, #f0eff5);

  background-position: center center;
  height: 440px;
  width: 324px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.prd-name {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  height: 42px;
  gap: 8px;
  cursor: pointer;
}
.prd-name i {
  padding-right: 14px;
  font-size: 28px;
  font-weight: 100;
}

.add-cart {
  display: none;
  font-size: 13px;
  font-weight: 600;
  margin-top: -100px;
}
.add-cart a {
  color: #ff0f00;
}

.add-cart a:hover {
  text-decoration: none;
  color: #ff0f00;
}

.prd-react {
  display: flex;
  height: 16px;
  align-items: center;
  gap: 8px;

  letter-spacing: 0.3px;
}

.prd-react a {
  font-size: 14px;
}

.prd-price {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.prd-item:hover .prd-name .add-cart {
  display: flex;
  margin-top: 0;
}

.prd-item:hover .prd-name .prd-name-text {
  display: none;
}

.mini-img {
  justify-content: space-between;
}
.mini-img_block {
  opacity: 0.7;
  width: 90px;
  height: 90px;
  background-color: aquamarine;
  background-position: center;
  background-size: cover;
}

.mini-img_block.actived {
  opacity: 1;
}
.large-img {
  display: none;
  width: 240px;
  height: 280px;
  background-color: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
}
.large-img.actived {
  display: block;
}
.add-prd_img {
  gap: 24px;
}

.btn-fullW {
  opacity: 0;
  width: 100%;
  height: 100%;
}


.user-page{
  margin-top: 128px;
}


.user-page ul{
  
  list-style: none;
}

.user-sidebar{
  padding: 0px;
  font-size: 20px;
  width: 90%;
  border-right: 1px solid #c2c2c2;

}

.user-sidebar li{
  padding: 8px 0;
}

.user-sidebar a{
  text-decoration: none;
  color: #000;
  padding-left: 12px;
}

.user-avatar{
  width: 128px;
  height: 64px;
  /* border-radius: 74px; */
  display: flex;
  align-items: end;
}
.user-avatar div{
  position: absolute;
  width: 128px;
  height: 128px;
  border-radius: 74px;
  background-image: url(../img/product/00003-1536650586.png);
  background-size: cover;
}


.user-page_content{
  margin-top: 32px;
}

.user-contact label{
  width: 47.5%;
}


.client-info {
  gap: 32px;
}

.client-avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 60px;

  background-image: url(../img/user_avatar/00004-1536650586.png);
  background-size: cover;
}

.client-name {
  font-weight: 700;
}

.order-status {
  color: rgb(0, 196, 0);
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-card{
  padding: 12px;
  border: 1px solid #e5e7eb;
}

.order-card_bottom {
  font-weight: 700;

  padding-top: 16px;
}

.order-expand {
  padding-top: 32px;}
.order-expand{
  padding: 32px 12px 12px 12px;
}

.order-note {
  width: 100%;
  border: 1px solid #e5e7eb;
  height: 120px;
  padding: 8px;
}
.order-note a {
  font-weight: 700;
}

.order-progress {
  width: 100%;
  justify-content: start;
  height: 164px;
}

.progress_bar {
  width: 100%;
  justify-content: space-between;
  flex-direction: row;

  padding-top: 24px;
}

.progress_bar .col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 12px;
}

.progress_bar .col-1:first-child {
  /* justify-content: start; */
}

.progress_bar .col-1:last-child {
  /* justify-content: end; */
}

.progress-text {
  position: absolute;
  padding-top: 48px;
  user-select: none;
}

.progress-text_1{
  position: absolute;
  padding-top: 76px;
  opacity: .7;
  user-select: none;
}

.progress-num {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(0, 196, 0);
  color: white;
  text-align: center;
  vertical-align: middle;
}

.progress_bar i {
  font-size: 40px;
  color: rgb(0, 196, 0);
}

.progress-confirm {
  position: absolute;
  padding: 8px 24px;
  color: white;
  background-color: rgb(0, 196, 0);
  border-radius: 4px;
  margin-top: 80px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.progress-confirm:hover {
  background-color: white;
  color: rgb(0, 196, 0);
  border: 1px solid rgb(0, 196, 0);
}

.progress-confirm:active{
  background-color: rgb(240, 240, 240);
}

 tr th:last-child,td:last-child{
  text-align: end;
}

.order_time{
  color: grey;
}

.order-expand table td{
  text-transform: none;
}